


h1{
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(100, 40, 155) }
h2{
    font-family: Cambria;
    color: rgb(7, 7, 50);
}
h3 {
    font-weight: 700;
    color: rgb(90, 35, 35);
}


body {
    transition: transform 0.3s ease; /* Pour un zoom doux */
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    font-family: Cambria;
    color: rgb(7, 7, 50);
    font-size: 20px;
    margin: 0; /* Vous ne connaissez pas encore cette propriété mais elle permet de s'assurer que nos éléments prennent bien toute la largeur de la page */
}

.banniere {
    padding: 100px; /* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter de l'espace dans notre élément*/
    background-image: url('nuage.jpg');
}

.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .button{
    background-color: beige;
    width: 60px;
    height: 40px;
  }

