


h1{
    font-family: "Amatic SC", sans-serif;
    justify-content: center;
    font-size: 80px;
    margin: 0%;
    margin-bottom: -5%;
    color: rgb(247, 243, 137);
     }
    

h2{
    font-family: Cambria;
    color: rgb(7, 7, 50);
}
h3 {
    font-weight: 700;
    color: rgb(90, 35, 35);
}


body {
    transition: transform 0.3s ease; /* Pour un zoom doux */
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    font-family: Cambria;
    color: rgb(7, 7, 50);
    font-size: 20px;
    margin: 0; /* Vous ne connaissez pas encore cette propriété mais elle permet de s'assurer que nos éléments prennent bien toute la largeur de la page */
}

.banniere {
    padding: 120px; /* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter de l'espace dans notre élément*/
    background-image: url('nuage.jpg');
    font-family: "Amatic SC", sans-serif;
    justify-content: center;
    font-size: 80px;
    text-align: end;
}

.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .button{
    background-color: beige;
    width: 60px;
    height: 40px;
  }

  p {
    font-size: small;
  }

.kate1 {
  
   padding: 10px;
    background-image: url('essai taille copie 4.jpg');
    font-family: "Amatic SC", sans-serif;
   font-size: 80px;
   margin: 0;
   justify-content: center;
    color: rgb(248, 241, 103);
}

.kate2 {
  padding: 60px;
    background-image: url('essai taille copie.jpg');
}